/* Global */

:root {
    --primary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --secondary-font: 'Nanum Myeongjo', serif;
    --tertiary-font: 'Sofia Sans', sans-serif;
}
body {
    font-family: var(--primary-font);
    scroll-behavior: smooth;
}
main {
    overflow: hidden;
    min-height: 100vh;
    margin-top: 3.5rem;
}

/* Sections */

section {
    min-height: 200px;
}
section h2 {
    font-family: var(--secondary-font);
}
section h2 span {
    font-weight: bold;
}
section p  {
    font-family: var(--primary-font);
}
section div.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 426px) {
    section h2 {
        font-size: 24px;
    }
    section img {
        padding: 2rem 0;
    }
}

/* First Section */

html[data-bs-theme="dark"] section.first {
    background: linear-gradient(183deg, rgba(52,39,51,1) 0%, rgba(33,37,41,1) 100%);
}

html[data-bs-theme="light"] section.first {
    background: linear-gradient(183deg, rgba(253,220,222,1) 0%, rgba(255,255,255,1) 100%);
}

/* Welcome Section */

html[data-bs-theme="light"] section.welcome-section {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)), url("../img/welcome.png");;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.welcome-section {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/welcome.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section.welcome-section h1,
section.welcome-section h2  {
    font-family: var(--secondary-font);
}
section.welcome-section p  {
    font-family: var(--primary-font);
}

/* Animations */

[is-scroll="true"].fade-right {
    opacity: 0;
    transform: translateX(50px);
    transition: all 1s ease-in-out;
}

[is-scroll="true"].fade-right.active {
    opacity: 100%;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

[is-scroll="true"].fade-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s ease-in-out;
}

[is-scroll="true"].fade-left.active {
    opacity: 100%;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

[is-scroll="true"].fade-up {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-in-out;
}

[is-scroll="true"].fade-up.active {
    opacity: 100%;
    transform: translateY(0);
    transition: all 1s ease-in-out;
}

[load-animation="fade-in"] {
    animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

/* Footer */

footer {
    min-height: 100px;
}